agent:
  algorithm: SAC
  batch_size: 128
  buffer_size: 200000
  ent_coef: auto
  gamma: 0.9542946974785835
  learning_rate: 0.0001780128079294231
  policy_kwargs:
    net_arch:
      pi: &id001 [64, 64]
      qf: *id001
  tau: 0.027798987860390412
  num_envs: 16
eval_freq: 2000
experiment_name: small_model_sac_slicing_baseline_v1
logging:
  log_dir: ./logs
  save_dir: ./logs
  verbose: 0
n_eval_episodes: 10
random_seed: 42
reward:
  drop_penalty: 0.05
  w_latency: 0.01
  w_throughput: 1.0e-03
total_timesteps: 1000000
traffic:
  embb_arrival_rate_mbps: 400.0
  urllc_arrival_rate_mbps: 40.0

channel:
  fixed_cqi: false
  fixed_cqi_values: [10, 10]

constraints:
  min_urllc_weight: 0.05
